<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/421.css">
    <title>421 de Oogie Boogie</title>
</head>
<body>
    <div id="app">
        <div class="gametrack" id="player"></div>
    </div>
    <script src="/js/421.js"></script>
</body>
</html>