<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/scary.css">
    <title>Scary place</title>
</head>
<body>
    <h1>Scary place</h1>
    <nav>
        <a href="/scary/scary-faces">
            <img src="/pictures/duck.PNG" alt="lien dice vers scary faces">
        </a>
    </nav>
</body>
</html>