@font-face {
    font-family:"Nightmare Before Christmas";
    src: url("./../fonts/Nightmare_Before_Christmas.ttf") format("truetype");
}

body {
    font-family:"Nightmare Before Christmas" ;
    background-image: url(/pictures/mrJack20.PNG);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vw;
}

h1 {
    font-size: 7rem;
    color: darkorange;
    padding-left: 5%;
}