@font-face {
    font-family:"Nightmare Before Christmas";
    src: url("../fonts/Nightmare_Before_Christmas.ttf") format("truetype");
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:"Nightmare Before Christmas";
}
h1 {
    text-align: center;
    padding:40px;
    color: darkorange;
}
.next-lvl-btn {
    padding:14px;
    margin:14px;
    background-color: darkorange;
    color: black;
    font-weight: bold;
    border-radius: 8px;
}
.next-lvl-btn:hover {
    padding:14px;
    margin:14px;
    background-color: black;
    color: darkorange;
    font-weight: bold;
    border-radius: 8px;
}

.victory-banner{
    padding:40px;
    font-size: 3em;
    font-weight: bold;
    color: darkorange;
}

.skinswitch {
    position: fixed;
    top: 20px;
    right:20px;
}

.cell.player {
    position: relative;
    --collision-amplitude:50%;
    
    
}
@keyframes bubblePopup {
    from {transform: translateY(50%);}
    to {transform: translateY(0);}   
}
.cell.player .bubble{
    position: absolute;
    top: -96px;
    left: -20px;
    display: none;
    font-size: 28px;
    padding: 20px;
    background-color: white;
    border-radius: 1000px;
    width: 480px;
    text-align: center;
    filter: drop-shadow(0 0 5px rgba(0,0,0,.5));
    animation: bubblePopup .2s 1 ease-out;
}
.cell.player .bubble::before {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    background-color: inherit;
    position: absolute;
    bottom: -10px;
    left: 100px;
    transform: rotate(45deg);
}
.cell.player::after {
    content: '';
    width: 56px;
    height: 56px;
    margin: auto;
    
    background-repeat: no-repeat;
    background-size:100%;
}
.cell.player.char-01::after {background-image: url(../pictures/sprite.png);}
.cell.player.char-02::after {background-image: url(../pictures/sprite-pink.png);}


.cell.player.down::after { background-position: 0 0%;}
.cell.player.left::after { background-position: 0 -64px;}
.cell.player.right::after { background-position: 0 -128px;}
.cell.player.up::after { background-position: 0 -192px;}
.cell.player.game-over::after { background-position: 0 -256px;}

@keyframes collisionLeft {
    from {transform: translateX(0%);}
    to {transform: translateX(-50%);}
}
@keyframes collisionRight {
    from {transform: translateX(0%);}
    to {transform: translateX(50%);}
}
@keyframes collisionUp {
    from {transform: translateY(0%);}
    to {transform: translateY(-50%);}
}
@keyframes collisionDown {
    from {transform: translateY(0%);}
    to {transform: translateY(50%);}
}
@keyframes gameOver {
    from {transform: translateY(0%);}
    to {transform: translateY(-30%);}
}
.cell.player.left.collision::after { animation: collisionLeft .2s alternate 1 ease-out; }
.cell.player.right.collision::after { animation: collisionRight .2s alternate 1 ease-out; }
.cell.player.up.collision::after { animation: collisionUp .2s alternate 1 ease-out; }
.cell.player.down.collision::after { animation: collisionDown .2s alternate 1 ease-out; }
.cell.player.game-over::after { animation: gameOver .2s alternate infinite ease-out; }

#board {
    border: solid 2px black;
}
.row {
display: flex;
}
.cell {
    width:100px;
    height:100px;
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.5);
    display: flex;
    background-color: white;
    background-image: url(../pictures/texture.png);
    background-size: 300% 300%;
    background-position: 0% 0%;
}

.cell[data-cell-type="1"] {
    background-position: 0% 0%;
}
.cell[data-cell-type="4"] {
    background-position: -100% 0%;
}
.cell[data-cell-type="2"] {
    background-position: -200% 0%;
}


.cell[data-cell-type="9"] {
    background-position: 0% -100%;
}
.cell[data-cell-type="5"] {
    background-position: -100% -100%;
}
.cell[data-cell-type="3"] {
    background-position: -200% -100%;
}


.cell[data-cell-type="6"] {
    background-position: 0% -200%;
}
.cell[data-cell-type="7"] {
    background-position: -100% -200%;
}
.cell[data-cell-type="8"] {
    background-position: -200% -200%;
}
.cell.target-cell {
    background-color: black;
    background-image: url(../pictures/christmasGift.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}
.cell.target-cell.hidden-treasure {
    background-color: transparent;
}
