body {
    background-image: url(/pictures/mrJack15.PNG);
    background-size: 100%;
    width: 50%;
    font-family:"Nightmare Before Christmas" ;
}

.signup {
    margin-top: 75%;
    margin-left: 60%;
}

.input {
    background-color:red;
    height: 30%;
    width: 60%;
    font-size: 2rem;
}

.label {
    font-size: 2.5rem;
    color: red;
}

.link {
    color: red;
    font-size: 1.5rem;
    margin-left: 7%;
}
.submit {
    background-color: red;
    height: 20%;
    font-size: 1.3rem;
}

