@font-face {
    font-family:"Nightmare Before Christmas";
    src: url("./../fonts/Nightmare_Before_Christmas.ttf") format("truetype");
}

body {
    height: 80vw;
    background-color: black;
    font-family:"Nightmare Before Christmas" ;
    display: flex;
}

.movie-poster {
    background-image: url(/pictures/mrJack1.PNG);
    background-size: 100%;
    width: 50%;

}

.menu {
    width: 50%;
    background-color: black;
}

h1 {
    font-size: 8rem;
    color: darkorange;
    font-weight: bold;
    padding: 3% 7% 3% 7%;
}

.link-picture {
    display: flex;
    margin: 10%;
    justify-content: space-between;
}

.connect {
    font-size: 2rem;
    color: darkorange;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkorange;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.modal-content2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkorange;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.close-button {float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: darkorange;
}

.close-button:hover {
    background-color: black;
    color: darkorange;
}

.close-button2 {float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: darkorange;
}

.close-button2:hover {
    background-color: black;
    color: darkorange;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.show-modal2 {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


.trigger {
    background-color: darkorange;
    height: 3%;
    width: 20%;
    border-radius: 0.4rem;
    font-weight: bold;
    margin-left: 80%;
}

.trigger:hover {
    background-color: black;
    color: darkorange;
}

.trigger2 {
    background-color: darkorange;
    height: 3%;
    width: 20%;
    border-radius: 0.4rem;
    font-weight: bold;
    margin-left: 80%;
}

.trigger2:hover {
    background-color: black;
    color: darkorange;
}

.connect {
    color: black;
    font-size: 1.3rem;
    margin-top: 4%;
}

.submit {
    margin-right: 4%;
    background-color: black;
    color: darkorange;
    font-size: 1rem;
    }

.submit:hover {
    background-color: red;
    color: black;
}

.signup {
    color: black;
}

.signup:hover {
    color: red;
}

.username {
    font-size: 1.3rem;
    margin-top: 4%;
}

.password {
    font-size: 1.3rem;
    margin-top: 4%;
}

.label {
    font-size: 1.3;
}

.pumpkins-links {
    background-color: black;
}

.pumpkins-links:hover {
    box-shadow: 10px 5px 5px darkorange;
}