<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/421.css">
    <title>421 de Oogie Boogie</title>
</head>
<body>
    <div id="app">
        <div class="gametrack" id="player"></div>
    </div>

    <div class="input-dices">
    <input type="image" id="submit" alt="input-dices"
    src="/pictures/dice.PNG">
    <script src="/js/421.js"></script>
  </div>
</body>
</html>