<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/origami-content.css">
    <title>Fantome</title>
</head>
<body>
    <h1>FANT OME EN ORIGAMI</h1>
    <div class="origami-instruction">
        <article>
            <img src="/pictures/origami-fantome1.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome2.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome3.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome4.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome5.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome6.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome7.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome8.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome9.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome10.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome11.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome12.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome13.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome14.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome15.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome16.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome17.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome18.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome19.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome20.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome21.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome22.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-fantome23.PNG" alt="image origami fantome">
        </article>


    </div>
    <script src="/js/origami.js"></script>

</body>
</html>