<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>L'étrange noël de Mr Jack</title>
</head>
<body >
    <div class="movie-poster">
        <h1>Jack's World</h1>
    </div>

    <div class="menu">
        <nav>
            <div class="link-picture">
            <a href="/oogie-boogie">
                <img src="/pictures/citrouille1.PNG" alt="lien citrouille vers Oogie Boogie">
            </a>
            <a href="/scary">
                <img src="/pictures/citrouille2.PNG" alt="lien citrouille vers Scary place">
            </a>
            <a href="/origami">
                <img src="/pictures/citrouille3.PNG" alt="lien citrouille vers Origami">
            </a>
            <a href="/christmas-town">
                <img src="/pictures/citrouille4.PNG" alt="lien citrouille vers Christmas town">
            </a>
            <a class="connect" href="/signup">se connecter</a>
        </div>
        </nav>
    </div>
</body>
</html>