<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/oogie-boogie.css">
    <title>Oogie Boogie</title>
</head>
<body>
    <h1>Oogie Boogie</h1>
    
        
        <a class="link-dices" href="/oogie-boogie/421">
            <img src="/pictures/dice.PNG" alt="lien dice vers le 421 de Oogie Boogie">
        </a>

        
    
</body>
</html>