<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/origami.css">
    <title>Origami</title>
</head>
<body>
    <h1>Origami</h1>
<div class="link-spider">
    <a class="link" href="/origami/spider">ARAIGNEE</a>
</div>
<div class="link-pumpkin">
    <a class="link" href="/origami/pumpkin">CIT ROUILLE</a>
</div>
<div class="link-ghost">
    <a class="link" href="/origami/ghost">FANT OME</a>
</div>
</body>
</html>