<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/origami-content.css">
    <title>Citrouille</title>
</head>
<body>
    <h1>CIT ROUILLE EN ORIGAMI</h1>
    <div class="origami-instruction">
    <article>
        <img src="/pictures/origami-citrouille1.PNG" alt="image origami fantome">
    </article>
    <article>
        <img src="/pictures/origami-citrouille2.PNG" alt="image origami fantome">
    </article>
    <article>
        <img src="/pictures/origami-citrouille3.PNG" alt="image origami fantome">
    </article>
    <article>
        <img src="/pictures/origami-citrouille4.PNG" alt="image origami fantome">
    </article>
    <article>
        <img src="/pictures/origami-citrouille5.PNG" alt="image origami fantome">
    </article>
    <article>
        <img src="/pictures/origami-citrouille6.PNG" alt="image origami fantome">
    </article>
    <article>
        <img src="/pictures/origami-citrouille7.PNG" alt="image origami fantome">
    </article>
    <article>
        <img src="/pictures/origami-citrouille8.PNG" alt="image origami fantome">
    </article>
    <article>
        <img src="/pictures/origami-citrouille9.PNG" alt="image origami fantome">
    </article>
    <article>
        <img src="/pictures/origami-citrouille10.PNG" alt="image origami fantome">
    </article>
</div>
<script src="/js/origami.js"></script>
</body>
</html>