<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RPG</title>
    <link rel="stylesheet" href="/css/rpg.css">
</head>
<body>
    
    <h1>Nom du niveau</h1>

    <div id="board"></div>

    <script src="/js/levels.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
</body>
</html>