<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/origami-content.css">
    <title>Araignée</title>
</head>
<body>
    <h1>ARAIGNEE EN ORIGAMI</h1>
    <div class="origami-instruction">
        <article>
            <img src="/pictures/origami-spider1.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-spider2.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-spider3.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-spider4.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-spider5.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-spider6.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-spider7.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-spider8.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-spider9.PNG" alt="image origami fantome">
        </article>
        <article>
            <img src="/pictures/origami-spider10.PNG" alt="image origami fantome">
        </article>
    </div>
    <script src="/js/origami.js"></script>
</body>
</html>